orchestration/n8n_workflows/n8n_transformation_workflow.json
{
  "name": "Phase 4: Transformation & Validation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "subworkflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load data_normalizer.js contents\nconst normalize = require('./utils/data_normalizer.js');\nreturn normalize(items);"
      },
      "id": "schema-normalizer",
      "name": "Code: Schema Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "prompt": "=Grade the following normalized record on a confidence scale from 0.0 to 1.0 and return quality_score plus QA notes: {{ $json }}.",
        "options": {}
      },
      "id": "qa-agent",
      "name": "AI Agent: QA & Validation",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"AI Agent: QA & Validation\"].json[\"quality_score\"] >= 0.8 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "quality-gate",
      "name": "If: High Quality?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map((item) => item.json);\nif (!rows.length) {\n  return [{ json: { csv: '' } }];\n}\nconst headers = [...new Set(rows.flatMap((row) => Object.keys(row)))];\nconst escapeCell = (value) => {\n  const normalized = value === null || value === undefined ? '' : String(value);\n  return /[\",\\n]/.test(normalized) ? `\"${normalized.replace(/\"/g, '\"\"')}\"` : normalized;\n};\nconst csv = [\n  headers.join(','),\n  ...rows.map((row) => headers.map((header) => escapeCell(row[header])).join(','))\n].join('\\n');\nreturn [{ json: { ...rows[0], csv } }];"
      },
      "id": "format-to-csv",
      "name": "Code: Format to CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1420,
        180
      ]
    },
    {
      "parameters": {
        "chatId": "qa-review-channel",
        "text": "=Low quality detected for job {{ $node[\"When Executed by Another Workflow\"].json[\"job_id\"] }}. Score: {{ $node[\"AI Agent: QA & Validation\"].json[\"quality_score\"] }}. Human review required."
      },
      "id": "qa-slack-alert",
      "name": "Slack: Flag for Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1420,
        440
      ]
    },
    {
      "parameters": {
        "workflowId": "phase-5-delivery",
        "mode": "each"
      },
      "id": "delivery-trigger",
      "name": "Execute: Phase 5 Delivery",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1680,
        180
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code: Schema Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Schema Normalizer": {
      "main": [
        [
          {
            "node": "AI Agent: QA & Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: QA & Validation": {
      "main": [
        [
          {
            "node": "If: High Quality?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: High Quality?": {
      "main": [
        [
          {
            "node": "Code: Format to CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Flag for Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format to CSV": {
      "main": [
        [
          {
            "node": "Execute: Phase 5 Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
