orchestration/n8n_workflows/n8n_discovery_workflow.json
{
  "name": "Phase 2: Discovery & Onboarding Sub-workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "subworkflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "source_registry",
        "where": {
          "domain_name": "={{ $node[\"When Executed by Another Workflow\"].json[\"domain_name\"] }}"
        }
      },
      "id": "library-check",
      "name": "Postgres: Library Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Postgres: Library Check\"].json[\"is_known\"] === true && !!$node[\"Postgres: Library Check\"].json[\"css_selectors\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fast-track-gate",
      "name": "If: Fast-track?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "prompt": "=Mapped URLs for domain {{ $node[\"When Executed by Another Workflow\"].json[\"domain_name\"] }} from the research brief: {{ $node[\"When Executed by Another Workflow\"].json[\"brief\"] }}. Discover all deep links and return a discovery_map.",
        "options": {}
      },
      "id": "discovery-agent",
      "name": "AI Agent: Discovery",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.2,
      "position": [
        1080,
        460
      ]
    },
    {
      "parameters": {
        "prompt": "=Evaluate the discovery map {{ $json.discovery_map }} for feasibility, blocking behavior, and required evasion profile.",
        "options": {}
      },
      "id": "sme-agent",
      "name": "AI Agent: SME/Onboarding",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.2,
      "position": [
        1300,
        460
      ]
    },
    {
      "parameters": {
        "prompt": "=Generate selectors and version metadata for the discovery map {{ $json.discovery_map }} and return css_selectors plus version_number.",
        "options": {}
      },
      "id": "scripting-agent",
      "name": "AI Agent: Scripting",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.2,
      "position": [
        1520,
        460
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "source_registry",
        "columns": [
          "domain_name",
          "is_known",
          "complexity_score",
          "evasion_config",
          "css_selectors",
          "version_number"
        ]
      },
      "id": "registry-upsert",
      "name": "Postgres: Update Registry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "phase-3-production",
        "mode": "each"
      },
      "id": "production-trigger",
      "name": "Execute: Phase 3 Production",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres: Library Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Library Check": {
      "main": [
        [
          {
            "node": "If: Fast-track?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Fast-track?": {
      "main": [
        [
          {
            "node": "Postgres: Update Registry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent: Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Discovery": {
      "main": [
        [
          {
            "node": "AI Agent: SME/Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: SME/Onboarding": {
      "main": [
        [
          {
            "node": "AI Agent: Scripting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Scripting": {
      "main": [
        [
          {
            "node": "Postgres: Update Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Update Registry": {
      "main": [
        [
          {
            "node": "Execute: Phase 3 Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
